/* @media (orientation: portrait), (max-width: 550px) { */

@media (orientation: portrait) {

    /* Main styles - start */
    #app {
        /* margin: 1em 0; */
        width: 420px;
        min-width: 320px;
        height: 850px;
    }
    /* Main styles - end */


    /* Header styles - start */
    .header .current-date h4 {
        font-size: 0.8em;
    }

    .header .caption {
        padding-top: 0.25em;
        margin-top: -0.25em;
    }

    .header .caption h2 {
        font-size: 1.2em;
    }
    /* Header styles - end */


    /* Search section styles - start */
    .search {
        height: 55px;
    }
    /* Search section styles - end */


    /* Current weather section styles - start */
    .current-weather {
        height: 215px;
        padding: 2% 2% 1% 1%;
    }

    .current-weather .local-info {
        height: 65px;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .current-weather .local-info .date-time,
    .current-weather .local-info .dots-preloader {
        width: 100%;
        height: 1.2em;
    }

    .current-weather .local-info .dots-preloader {
        text-align: right;
        padding-right: 15%;
    }

    .current-weather .local-info .dots-preloader .dots-loading {
        width: 60px;
        height: 10px;
    }

    .current-weather .local-info .date-time h6 {
        font-size: 0.75em;
    }

    .current-weather .local-info .city {
        width: 85%;
        height: 2.5em;
    }

    .current-weather .local-info .city h3 {
        font-size: 1.2em;
    }

    .current-weather .left-col {
        padding-top: 0.25em;
    }

    .current-weather .left-col .left-rows h3 {
        font-size: 0.9em;
    }

    .current-weather .right-col .col-60,
    .current-weather .right-col .col-40 {
        width: 50%;
    }

    .current-weather .right-col .col-40 .current-icon {
        font-size: 3em;
        text-align: center;
        margin: -0.1em 0.25em 0 0;
    }

    .current-weather .right-col .col-60 h5 {
        margin-top: 4em;
        margin-left: 0.5em;
        width: 190%;
        font-size: 1em;
        height: 1.6em;
    }

    .current-weather .right-col .right-bottom {
        padding-top: 0;
    }
    /* Current weather section styles - end */


    /* Next five days section styles - start */
    .next-days-weather {
        width: 93%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .next-days-weather .day-container {
        border-radius: 5px;
        width: 32%;
        margin-bottom: 0.75em;
    }

    .next-days-weather .day-container:last-child {
        display: flex;
    }

    .next-days-weather .day-container .row.description h6,
    .next-days-weather .day-container .row.description h6 {
        width: 95%;
        margin: 0 auto;
    }
    /* Next five days section styles - end */
}


@media (orientation: portrait) and (max-height: 820px) {
    body {
        height: inherit;
    }

    #app {
        margin: 0;
    }
}

@media (orientation: portrait) and (max-width: 420px) {
    body {
        background: #d3d3d3;
    }

    #app {
        /* margin: 0; */
    }
}



@media (orientation: landscape) and (max-height: 575px) {
    body {
        height: inherit;
        /* background: #d3d3d3; */

    }

    #app {
        /* width: 600px; */
        /* min-width: 550px; */
    }
}