@media (max-width: 640px) and (orientation: portrait){
    body{
        background: #e0e0e0;
    }

    #app .header .caption {
        font-size: 1.2em;
    }

    .current-weather .left-col .left-rows p {
        width: 20px;
    }

    .current-weather .left-col .left-rows h3 {
        font-size: 0.9em;
    }

    .current-weather .left-col .left-rows h3:first-child{
        font-size: 1em;
        width: 150%;
    }

    .current-weather .right-col .col-65,
    .current-weather .right-col .col-35 {
        width: 50%;
    }

    .current-weather .right-col .col-35 .current-icon {
        /* margin-right: 5px; */
        font-size: 3em;
        text-align: center;
    }

    .current-weather .right-col .col-65 h5 {
        margin-top: 75px;
        width: 155%;
        font-size: 0.9em;
    }

    .next-days-weather{
        width: 93%;
        height: 220px;
        margin: 0 auto;
        margin-bottom: 20px;    
        display: -webkit-box;    
        display: -ms-flexbox;    
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .next-days-weather .day-container {
        border-radius: 5px;
    }

    .next-days-weather .day-container:nth-child(1),
    .next-days-weather .day-container:nth-child(2),
    .next-days-weather .day-container:nth-child(3) {
        width: 32%;
        margin-bottom: 2%;
    }

    .next-days-weather .day-container:nth-child(4),
    .next-days-weather .day-container:nth-child(5) {
        width: 49%;
        margin-bottom: 10%;
    }
    
    .next-days-weather .day-container:nth-child(4) .row p,
    .next-days-weather .day-container:nth-child(5) .row p{
        margin-left: 15%;
    }
}