/* Main styles - start */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#app {
    width: 550px;
    height: 550px;
    background: #e0e0e0;
    margin-top: 30px;
}
/* Main styles - end */



/* Header styles - start */
.header {
    width: 95%;
    height:15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 2%;
    overflow: hidden;
}

.header .caption {
    margin-top: 2%
}

.current-date {
    font-size: 0.9em;
}
/* Header styles - end */



/* Search section styles - start */
#app .search {
    width: 95%;
    height: 70px;
    margin: 0 auto;
    padding: 1%;
}

#app .search form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#app .search input[type='search'] {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    text-align: center;

    -webkit-appearance: none;
        -moz-appearance: none;
}

#app .search input[type='search']::-webkit-search-cancel-button {
    margin-right: 10px;
    height: 12px;
    width: 12px;
    border-radius:10px;
    background: red;

    -webkit-appearance: none;
        -moz-appearance: none;
}

#app .search input[type='search'].normal::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;    
}

#app .search input[type='search'].normal:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;    
}

#app .search input[type='search'].normal::-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;    
}

#app .search input[type='search'].normal::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;    
}

#app .search input[type='search'].warning::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-weight: 600;
}

#app .search input[type='search'].warning:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-weight: 600;
}

#app .search input[type='search'].warning::-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-weight: 600;
}

#app .search input[type='search'].warning::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-weight: 600;
}

#app .search input[type='submit'] {
    width: 37%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black; 
    background: gray;
    outline: none;    
    color: #ffffff;
    font-size: 0.9em;
    font-weight: bold;

    -webkit-appearance: none;
        -moz-appearance: none;

    -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
            transition: all 0.5s;
}

#app .search input[type='submit']:hover {
    background: #000000;
    color: #ffffff;
}
/* Search section styles - end */



/* Current weather section styles - start */
.current-weather {
    width: 93%;
    height: 160px;
    padding: 2%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #800080;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.current-weather .left-col {
    width: 41%;
    height: 100%;
}

.current-weather .left-col h3{
    font-weight: 600;
}

.current-weather .left-col .left-rows {
    width: 100%;
    height: 25%;
} 

.current-weather .left-col .left-rows p {
    width: 30px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}

.current-weather .left-col .left-rows h3 {
    display: inline-block;
}

.current-weather .left-col .left-rows p .wi {
    font-size: 1.4em;
    color: #000000;
}

.current-weather .right-col {
    width: 59%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.current-weather .right-col .col-65 {
    width: 65%;
    height: 80%;
    text-align: center;
}

.current-weather .right-col .col-65 h5 {
    margin-top: 10%;
    font-weight: 600;
    font-size: 1em;
}

.current-weather .right-col .col-35 {
    width: 35%;
    height: 80%;
    text-align: right;
}

.current-weather .right-col .col-35 .current-icon {
    margin-top: 10%;
    margin-right: 5px;
    color: #000000;
    font-size: 3.4em;
}

.current-weather .right-col .right-bottom {
    width: 100%;
    height: 20%;
    text-align: right;
}

.current-weather .right-col .right-bottom button {
    width: 120px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px; 
    background: #e0e0e0;
    outline: none;
    color: #808080;
    font-size: 0.9em;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.current-weather .right-col .right-bottom button:hover {
    background: #ffffff;
    color: #000000;
}
/* Current weather section styles - end */



/* Next five days section styles - start */
.next-days-weather{
    width: 93%;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 20px;    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.next-days-weather .day-container {
    width: 19.5%;
    height: 100%;
    background: #f5f5f5;
    padding-bottom: 10px;
    padding-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.next-days-weather .day-container:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}

.next-days-weather .day-container:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
}

.next-days-weather .day-container .row {
    width: 100%;
    padding: 2px;
}

.next-days-weather .day-container .row.date,
.next-days-weather .day-container .row.icon,
.next-days-weather .day-container .row.description,
.next-days-weather .day-container .row p {
    text-align: center;
}

.next-days-weather .day-container .row.date h5 {
    font-weight: 600;
    font-size: 0.8em;
}

.next-days-weather .day-container .row.icon {
    font-size: 2em;
}

.next-days-weather .day-container .row.description {
    height: 30px;
}

.next-days-weather .day-container .row.description h6 {
    font-weight: 600;
}

.next-days-weather .day-container .row p {
    display: inline-block;
    width: 30px;
}
.next-days-weather .day-container .row h5 {
    display: inline-block;
    font-weight: 500;
    font-size: 0.8em;
}

.next-days-weather .day-container .row p .wi {
    font-size: 1em;
}
/* Next five days section styles - end */