@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');

/* Main styles - start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

#app {
    width: 580px;
    min-width: 580px;
    height: 600px;
    background: #d3d3d3;
    border-radius: 5px;
}
/* Main styles - end */


/* Header styles - start */
.header {
    width: 96%;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

.header .caption {
    height: 30px;
    width: 100%;
    text-align: right;
    margin-top: -0.75em;
}

.header .current-date {
    height: 20px;
    width: 100%;
    font-size: 0.9em;
    margin: 1em 0 0.25em 0.1em;
}
/* Header styles - end */


/* Search section styles - start */
.search {
    width: 95%;
    height: 65px;
    margin: 0 auto;
    padding: 1.5%;
}

.search form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input[type='search'] {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    text-align: center;

    -webkit-appearance: none;
        -moz-appearance: none;
}

.search input[type='search']::-webkit-search-cancel-button {
    margin-right: 10px;
    height: 12px;
    width: 12px;
    border-radius: 10px;
    background: red;

    -webkit-appearance: none;
        -moz-appearance: none;
}

.search input[type='search'].normal::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;    
}

.search input[type='search'].warning::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-weight: 600;
}

.search input[type='submit'] {
    width: 37%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black; 
    background: #808080;
    outline: none;    
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    
    -webkit-appearance: none;
        -moz-appearance: none;
}

.search input[type='submit']:hover {
    background: #000000;
    color: #ffffff;
}
/* Search section styles - end */


/* Current weather section styles - start */
.current-weather {
    width: 93%;
    height: 200px;
    padding: 2%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 0.75em;
    color: #800080;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.current-weather .local-info {
    width: 100%;
    margin-bottom: 0.3em;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.current-weather .local-info .city {
    width: 110%;
    height: 2.4em;
    overflow: hidden;
    /* border: 1px solid red; */

}

.current-weather .local-info .city h3 {
    font-weight: 600;
    margin-left: 0.25em;
    font-size: 1.3em;
}

.current-weather .local-info .dots-preloader,
.current-weather .local-info .date-time {
    overflow: hidden;
    /* border: 1px solid red; */
}

.current-weather .local-info .dots-preloader {
    text-align: center;
    width: 75%;
    padding-left: 10%;
    margin-top: -0.5%;
}

.current-weather .local-info .date-time {
    text-align: right;
    width: 85%;
    height: 0.9em;
}

.current-weather .local-info .date-time h6 {
    color: #444444;
    font-weight: 700;
    font-size: 0.8em;
}

.current-weather .left-col,
.current-weather .right-col {
    height: 130px;
    /* border: 1px solid red; */
}

.current-weather .left-col {
    width: 40%;
}

.current-weather .left-col .left-rows {
    width: 100%;
    height: 25%;
    overflow: hidden;
}

.current-weather .left-col h3 {
    font-weight: 600;
    line-height: 2.5em;
}

.current-weather .left-col .left-rows p {
    width: 30px;
    margin-right: 1em;
    text-align: center;
    display: inline-block;
}

.current-weather .left-col .left-rows h3 {
    display: inline-block;
}

.current-weather .left-col .left-rows p .wi {
    font-size: 1.4em;
    color: #000000;
}
.current-weather .left-col .left-rows p .wi.wi-strong-wind {
    margin-left: 0.2em;
}

.current-weather .right-col {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.current-weather .right-col .col-60,
.current-weather .right-col .col-40 {
    height: 100px;
    /* border: 1px solid red; */
}

.current-weather .right-col .col-60 {
    width: 60%;
    text-align: center;
}

.current-weather .right-col .col-60 h5 {
    margin-top: 2.4em;
    font-weight: 600;
    font-size: 1.1em;
    width: 95%;
}

.current-weather .right-col .col-40 {
    width: 40%;
    text-align: center;
}

.current-weather .right-col .col-40 .current-icon {
    margin: 0.1em -0.1em 0 0;
    color: #000000;
    font-size: 3.5em;
}

.current-weather .right-col .col-40 .current-icon .wi.wi-day-cloudy-high {
    font-size: 1.2em;
}

.current-weather .right-col .right-bottom {
    width: 100%;
    text-align: right;
    padding-top: 0.1em;
    /* border: 1px solid red; */
}

.current-weather .right-col .right-bottom button {
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px; 
    background: #e0e0e0;
    outline: none;
    color: #808080;
    font-size: 0.9em;
    font-weight: 600;
    transition: all 0.5s;
}

.current-weather .right-col .right-bottom button:hover {
    background: #ffffff;
    color: #000000;
}
/* Current weather section styles - end */


/* Next five days section styles - start */
.next-days-weather {
    width: 93%;
    height: 230px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.next-days-weather .day-container {
    width: 19.5%;
    height: 230px;
    background: #f5f5f5;
    padding-bottom: 7px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.next-days-weather .day-container:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}

.next-days-weather .day-container:nth-child(5) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
}

.next-days-weather .day-container:nth-child(6) {
    display: none;
}

.next-days-weather .day-container .row {
    width: 100%;
    padding: 2px 2px 2px 1px;
}

.next-days-weather .day-container .row.date,
.next-days-weather .day-container .row.icon,
.next-days-weather .day-container .row.description,
.next-days-weather .day-container .row p {
    text-align: center;
}

.next-days-weather .day-container .row.weather-data {
    width: fit-content;
    margin-left: -10px;
}

.next-days-weather .day-container .row.date h5 {
    font-weight: 600;
    font-size: 0.8em;
}

.next-days-weather .day-container .row.icon {
    font-size: 2em;
    padding: 0.1em;
}

.next-days-weather .day-container .row.icon .current-icon {
    height: 45px;
}

.next-days-weather .day-container .row.icon .wi.wi-day-cloudy-high {
    font-size: 1.25em;
}

.next-days-weather .day-container .row.description {
    height: 35px;
}

.next-days-weather .day-container .row.description h6 {
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 0.7em
}

.next-days-weather .day-container .row p {
    display: inline-block;
    width: 40px;
}
.next-days-weather .day-container .row h5 {
    display: inline-block;
    font-weight: 500;
    font-size: 0.75em;
}

.next-days-weather .day-container .row p .wi {
    font-size: 1em;
}
/* Next five days section styles - end */


/* Preloader Styles - start */
.main-preloader {
    text-align: center;
    padding: 5em;
}

.main-preloader .info {
    padding: 0.5em;
    font-weight: 600;
}

.main-preloader .main-loading {
    width: 3.5em;
    height: 3.5em;
}

.main-preloader .animation {
    animation-name: spin;
    animation-duration: 1800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from { 
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Preloader Styles - end */
