/* Main styles - start */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#app {
    width: 550px;
    height: 575px;
    background: #d3d3d3;
    margin-top: 20px;
}
/* Main styles - end */


/* Header styles - start */
.header {
    width: 96%;
    height:15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    padding: 2%;
    overflow: hidden;
}

.header .caption {
    height: 30px;
    width: 100%;
    text-align: right;
    margin-top: -10px;
}

.header .current-date {
    height: 20px;
    width: 100%;
    font-size: 0.9em;
    margin: 20px 0 5px 3px;
}
/* Header styles - end */


/* Search section styles - start */
.search {
    width: 95%;
    height: 70px;
    margin: 0 auto;
    padding: 1.5%;
}

.search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.search input[type='search'] {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    text-align: center;

    -webkit-appearance: none;
        -moz-appearance: none;
}

.search input[type='search']::-webkit-search-cancel-button {
    margin-right: 10px;
    height: 12px;
    width: 12px;
    border-radius:10px;
    background: red;

    -webkit-appearance: none;
        -moz-appearance: none;
}

.search input[type='search'].normal::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;    
}

.search input[type='search'].normal:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;    
}

.search input[type='search'].normal::-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;    
}

.search input[type='search'].normal::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;    
}

.search input[type='search'].warning::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-weight: 600;
}

.search input[type='search'].warning:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-weight: 600;
}

.search input[type='search'].warning::-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-weight: 600;
}

.search input[type='search'].warning::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-weight: 600;
}

.search input[type='submit'] {
    width: 37%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black; 
    background: #808080;
    outline: none;    
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.5px;

    -webkit-appearance: none;
        -moz-appearance: none;

    -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
            transition: all 0.5s;
}

.search input[type='submit']:hover {
    background: #000000;
    color: #ffffff;
}
/* Search section styles - end */



/* Current weather section styles - start */
.current-weather {
    width: 93%;
    height: 175px;
    padding: 2%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #800080;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.current-weather .local-info {
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.current-weather .local-info .city {
    width: 110%;
    height: 2.5em;
    overflow: hidden;
}

.current-weather .local-info .city h3 {
    font-weight: 600;
    margin-left: 8px;
    font-size: 1.2em;
}

.current-weather .local-info .date-time {
    width: 85%;
    text-align: right;
    height: 0.9em;
    overflow: hidden;
}

.current-weather .local-info .date-time h6 {
    color: #444444;
    font-weight: 700;
    font-size: 0.8em;
}

.current-weather .left-col {
    width: 38%;
    height: 120px;
    padding-top: 5px;
}

.current-weather .left-col .left-rows {
    width: 100%;
    height: 30%;
    overflow: hidden;
} 

.current-weather .left-col h3 {
    font-weight: 600;
    line-height: 2.5em;
}

.current-weather .left-col .left-rows p {
    width: 30px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}

.current-weather .left-col .left-rows h3 {
    display: inline-block;
}

.current-weather .left-col .left-rows p .wi {
    font-size: 1.4em;
    color: #000000;
}

.current-weather .right-col {
    width: 62%;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.current-weather .right-col .col-60 {
    width: 59%;
    height: 85px;
    text-align: center;
}

.current-weather .right-col .col-60 h5 {
    margin-top: 10%;
    font-weight: 600;
    font-size: 1em;
    width: 95%;
}

.current-weather .right-col .col-40 {
    width: 40%;
    height: 85px;
    text-align: right;
}

.current-weather .right-col .col-40 .current-icon {
    margin-right: 10px;
    color: #000000;
    font-size: 3.4em;
}

.current-weather .right-col .right-bottom {
    width: 100%;
    height: 30px;
    text-align: right;
}

.current-weather .right-col .right-bottom button {
    width: 120px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px; 
    background: #e0e0e0;
    outline: none;
    color: #808080;
    font-size: 0.9em;
    font-weight: 600;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.current-weather .right-col .right-bottom button:hover {
    background: #ffffff;
    color: #000000;
}
/* Current weather section styles - end */


/* Next five days section styles - start */
.next-days-weather {
    width: 93%;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 20px;    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.next-days-weather .day-container {
    width: 19.5%;
    height: 100%;
    background: #f5f5f5;
    padding-bottom: 10px;
    padding-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.next-days-weather .day-container:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}

.next-days-weather .day-container:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
}

.next-days-weather .day-container .row {
    width: 100%;
    padding: 2px;
}

.next-days-weather .day-container .row.date,
.next-days-weather .day-container .row.icon,
.next-days-weather .day-container .row.description,
.next-days-weather .day-container .row p {
    text-align: center;
}

.next-days-weather .day-container .row.description h6,
.next-days-weather .day-container .row.description h6 {
    width: 95%;
    margin: 0 auto;
}

.next-days-weather .day-container .row.date h5 {
    font-weight: 600;
    font-size: 0.8em;
}

.next-days-weather .day-container .row.icon {
    font-size: 2em;
}

.next-days-weather .day-container .row.description {
    height: 30px;
}

.next-days-weather .day-container .row.description h6 {
    font-weight: 600;
}

.next-days-weather .day-container .row p {
    display: inline-block;
    width: 30px;
}
.next-days-weather .day-container .row h5 {
    display: inline-block;
    font-weight: 500;
    font-size: 0.8em;
}

.next-days-weather .day-container .row p .wi {
    font-size: 1em;
}
/* Next five days section styles - end */


/* Preloaders Styles - start */
.preloader {
    text-align: center;
    padding: 5em;
}

.preloader .info {
    padding: 0.5em;
    font-weight: 600;
}

.preloader .loading {
    width: 3.5em;
    height: 3.5em;
}

.preloader .animation {
    animation-name: spin;
    animation-duration: 1800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from { 
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Preloaders Styles - end */